@import "../../App.scss";

// Menu Page Styling

.menu {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  background-color: $theme-color-beige;

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $text-color-black;
  }

  .heading-area {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 50px;

    .title {
      padding-bottom: 20px;
      font-size: 56px;
    }

    .subtitle {
      @include font-Regular;
    }
  }

  .menu-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 30%;

    .menu-category-container {
      padding-bottom: 50px;

      .menu-category-title {
        padding-bottom: 20px;
        font-size: 42px;
      }

      .menu-item-list li {
        padding-bottom: 5px;
        font-size: 22px;
      }
    }
  }
}
