@import "../../App.scss";

// Menu Page Styling

.menu {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  .heading-area {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

    // Applying a dark overlay to the background image
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // prettier-ignore
      background-color: rgba(0, 0, 0, 0.5); // Adjust the alpha (last value) for darkness
      z-index: -1;
    }

    .menu-heading-background-image {
      position: absolute;
      width: 100%;
      top: -50px;
      left: 0;
      z-index: -2;
    }

    .title {
      margin-bottom: 20px;
      font-size: 56px;
    }

    .subtitle {
      @include font-Regular;
    }
  }

  .section-separator {
    height: 20px;
  }

  .menu-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    background-color: $theme-color-beige;

    h1,
    h2,
    h3,
    h4,
    p,
    li {
      color: $text-color-black;
    }

    p,
    a,
    li {
      @include font-Menu-Regular;
      font-size: 20px;
    }

    // General menu-list element styles

    .menu-section {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;

      .left-side,
      .right-side {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-paper-background {
        width: 70%;
        height: auto;
        background-color: $text-color-white;
        border: 10px double $text-color-black;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        margin: 30px 0px;
        padding: 0px 50px;

        .menu-paper-heading {
          align-self: center;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .menu-category-container {
          padding-bottom: 20px;
          width: 100%;

          .menu-category-title {
            padding-bottom: 10px;
            @include font-Menu-Bold;
            font-size: 28px;

            width: fit-content;
            position: relative;
            z-index: 1;

            &::before {
              content: "";
              position: absolute;
              bottom: 22%;
              left: 0;
              width: 110%;
              height: 10%;
              background-color: rgba(184, 115, 51, 0.3);
              // background-color: $theme-color-copper;
              z-index: -1;
            }
          }

          .menu-item-list {
            li {
              padding-bottom: 5px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .dots-price-separator {
                padding: 0px 5px;
                margin-right: 5px; // because dots overflow, padding right doesn't work.
                letter-spacing: 5px;
                flex: 1; // adjust width automatically to fit the space between name and price.
                overflow: hidden;
                text-overflow: clip;
              }
            }
          }
        }
      }
    }

    // Specific menu-list element styles

    .menu-section-1 {
      .right-side {
        position: relative;
        height: auto;

        // Wrapper used for border
        .coffee-image-wrapper {
          position: absolute;
          width: 700px;
          top: 9%;
          right: 13%;
          border: 8px dotted $theme-color-copper;
          padding: 10px 10px;

          .coffee-image {
            width: 100%;
          }
        }

        .assorted-pastries-image {
          position: absolute;
          height: 400px;
          bottom: 8%;
          left: 0%;
          border: 20px double $text-color-white;
          border-radius: 50%;
        }
      }
    }

    .menu-section-2 {
      .left-side {
        height: auto;

        .image-grid {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          border: 10px double $text-color-black;

          img {
            width: 420px;
            border: 2px solid $text-color-black;
          }
        }
      }
    }

    .large-image-container-1 {
      width: 100%;
      height: 500px;
      overflow: hidden;
      position: relative;

      margin-bottom: 50px;

      border-top: 20px solid $text-color-black;
      border-bottom: 20px solid $text-color-black;

      img {
        width: 100%;
        position: absolute;
        top: -400px;
      }
    }
  }
}

// Responsive Design

@media (max-width: 1700px) {
  .menu {
    .menu-list {
      .menu-section-1 {
        .left-side {
          width: 55%;
        }

        .right-side {
          width: 45%;

          .coffee-image-wrapper {
            width: 600px;
          }
        }
      }

      .menu-section-2 {
        .left-side {
          width: 40%;

          .image-grid {
            display: flex;
            flex-direction: column;

            .turkey-sandwich-image,
            .cheesecake-image {
              display: none;
            }
          }
        }

        .right-side {
          width: 60%;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .menu {
    .menu-list {
      .menu-section-1 {
        .left-side {
          width: 70%;
        }

        .right-side {
          width: 30;

          .coffee-image-wrapper {
            width: 500px;
            top: 13%;
          }

          .assorted-pastries-image {
            height: 300px;
          }
        }
      }

      .menu-section-2 {
        .left-side {
          width: 30%;
          padding-left: 5%;
        }

        .right-side {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .menu {
    .heading-area {
      text-align: center;
    }
    .menu-list {
      .menu-section {
        justify-content: center;
      }

      .menu-section-1 {
        .left-side {
          width: auto;
        }

        .right-side {
          display: none;
        }
      }

      .menu-section-2 {
        .left-side {
          display: none;
        }

        .right-side {
          width: auto;
        }
      }

      .large-image-container-1 {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;

        margin-bottom: 20px;

        border-top: 20px solid $text-color-black;
        border-bottom: 20px solid $text-color-black;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .menu {
    .heading-area {
      height: 300px;

      .title {
        font-size: 46px;
      }

      .subtitle {
        font-size: 28px;
      }

      .menu-heading-background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: -2;
      }
    }
  }
}

@media (max-width: 700px) {
  .menu {
    .heading-area {
      .subtitle {
        font-size: 22px;
      }
    }
    .menu-list {
      .menu-section {
        .menu-paper-background {
          width: 95%;
          padding: 0px 20px;
        }
      }

      .menu-section-1 {
        .left-side {
          width: 100%;
        }
      }

      .menu-section-2 {
        .right-side {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .menu {
    .heading-area {
      .title {
        font-size: 42px;
      }
    }
    .menu-list {
      .menu-section {
        .menu-paper-background {
          width: 100%;
          padding: 0px 10px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .menu {
    .menu-list {
      .menu-section {
        .menu-paper-background {
          .menu-paper-heading {
            font-size: 26px;
          }

          .menu-category-container {
            .menu-category-title {
              font-size: 24px;
            }

            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
