@import "../../App.scss";

// Home Page Styling

.home {
  width: 100%;
  height: auto;

  // Hero section

  .hero {
    width: 100%;
    // Adjust for the header
    // (otherwise header will push hero section down by it's height of 80px)
    height: calc(100vh - 80px);
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
    gap: 30px;

    // Applying a dark overlay to the hero image
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // prettier-ignore
      background-color: rgba(0, 0, 0, 0.6); // Adjust the alpha (last value) for darkness
      z-index: -1;
    }

    .hero-bg-image {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: -2;
    }

    .company-name {
      font-size: 96px;
    }

    .tagline {
      @include font-Regular;
      font-size: 42px;
    }
  }

  // About section

  #about {
    // adjusting the scroll anchor so that the section is centered.
    // Ex. When "About Us" button is clicked, it will scroll so that the section is centered.
    scroll-margin-top: 150px;
  }

  .about {
    width: 100%;
    height: 700px;
    background-color: $theme-color-beige;

    display: flex;
    flex-direction: row;

    h2,
    h3,
    p {
      color: $text-color-black;
    }

    .text-container {
      width: 45%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 30px;

      // used to create a border around the text (also holds the text)
      .border-div {
        border: 5px dotted $theme-color-copper;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 0px 10%;

        .about-us-title {
          font-size: 42px;
          margin-bottom: 30px;
          color: $theme-color-copper;
          filter: brightness(0.9);
        }

        .about-us-text {
          margin-bottom: 30px;
        }
      }
    }

    .image-wrapper {
      width: auto;
      height: 100%;
      display: flex;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .image-display {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      bottom: 0;
      left: 0;
      object-position: bottom;
    }
  }
}

// Responsive Design

@media (max-width: 1700px) {
  .home {
    .about {
      .text-container {
        width: 50%;
      }

      .image-wrapper {
        width: 50%;
      }
    }
  }
}

@media (max-width: 1500px) {
  .home {
    .hero {
      justify-content: center;
      padding-top: 0;

      .company-name {
        font-size: 72px;
      }

      .tagline {
        font-size: 36px;
      }
    }

    .about {
      .text-container {
        width: 50%;
      }

      .image-wrapper {
        width: 50%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .home {
    .hero {
      .company-name {
        font-size: 60px;
      }

      .tagline {
        font-size: 32px;
      }
    }

    .about {
      flex-direction: column;
      height: auto;

      .text-container {
        width: 100%;
        height: auto;

        .border-div {
          padding: 5% 5%;
        }
      }

      .image-wrapper {
        width: 100%;
      }
    }

    .image-display {
      height: 300px;
    }
  }
}

@media (max-width: 800px) {
  .home {
    .hero {
      .tagline {
        font-size: 28px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    .hero {
      .tagline {
        font-size: 28px;
      }
    }

    .about {
      .text-container {
        .border-div {
          .about-us-title {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .home {
    .hero {
      .company-name {
        font-size: 48px;
      }
      .tagline {
        font-size: 28px;
      }
    }

    .about {
      .text-container {
        .border-div {
          .about-us-title {
            font-size: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .home {
    .hero {
      .tagline {
        font-size: 24px;
        padding: 0 2%;
      }
    }

    .about {
      .text-container {
        height: auto;
        padding: 15px 15px;

        .border-div {
          .about-us-title {
            font-size: 30px;
          }
        }
      }

      .image-wrapper {
        width: 100%;
      }
    }

    .image-display {
      height: 300px;
    }
  }
}
