@import "../../App.scss";

// Home Page Styling

.home {
  width: 100%;
  height: auto;

  // Hero section

  .hero {
    width: 100%;
    // Adjust for the header
    // (otherwise header will push hero section down by it's height of 80px)
    height: calc(100vh - 80px);
    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
    gap: 30px;

    // Applying a dark overlay to the hero image
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // prettier-ignore
      background-color: rgba(0, 0, 0, 0.6); // Adjust the alpha (last value) for darkness
      z-index: -1;
    }

    .hero-bg-image {
      width: 100%;
      position: absolute;
      top: -260px;
      left: 0;
      z-index: -2;
    }

    .company-name {
      font-size: 96px;
    }

    .tagline {
      @include font-Regular;
      font-size: 42px;
    }
  }

  // About section

  .about {
    width: 100%;
    height: 800px;
    background-color: $theme-color-beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    h2,
    h3,
    p {
      color: $text-color-black;
    }

    .about-us-section,
    .mission-statement-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 8%;
        line-height: 1.5;

        h2,
        h3 {
          margin-bottom: 30px;
        }
      }

      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .product-image {
          width: 300px;
          border-radius: 50%;
        }
      }
    }
  }

  .image-display {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: -700px;
    }
  }
}
