@import "../../App.scss";

// Header styles

.header {
  width: 100%;
  height: 80px;
  padding: 0px 15%;
  background-color: $theme-color-maroon;

  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      width: 50px;
    }

    .nav-list {
      display: flex;
      gap: 50px;
    }
  }
}
