* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a, .router-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #faf9f6;
}

h1 {
  font-size: 48px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 32px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 24px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

p, button, input, textarea {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #faf9f6;
  font-size: 18px;
}

a,
.router-link {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #9a4444;
  transition: all 0.5s;
}
button:hover {
  background-color: #d6d46d;
  color: #212427;
}

.section-separator {
  width: 100%;
  height: 40px;
  background-color: #212427;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
}

.contact {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.contact .background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.4);
}
.contact .heading-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.contact .heading-container h1 {
  margin-bottom: 20px;
}
.contact .content-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.contact .content-area .embedded-map-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.contact .content-area .embedded-map-container .map-wrapper {
  border: 7px double #de8f5f;
  padding: 5px 5px 1px 5px;
}
.contact .content-area .embedded-map-container .map-wrapper iframe {
  width: 600px;
  height: 450px;
}
.contact .content-area .contact-info-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.contact .content-area .contact-info-container h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.contact .content-area .contact-info-container p,
.contact .content-area .contact-info-container a {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.contact .content-area .contact-info-container .basic-info-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact .content-area .contact-info-container .basic-info-container .info-piece-container {
  margin-bottom: 40px;
}
.contact .content-area .contact-info-container .basic-info-container .info-piece-container a {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.contact .content-area .contact-info-container .socials-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact .content-area .contact-info-container .socials-container h3 {
  margin-bottom: 10px;
}
.contact .content-area .contact-info-container .socials-container img {
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 1500px) {
  .contact .content-area .embedded-map-container {
    padding-left: 5%;
  }
  .contact .content-area .embedded-map-container .map-wrapper iframe {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .contact {
    height: 1400px;
  }
  .contact .content-area {
    flex-direction: column-reverse;
  }
}