* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a, .router-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #faf9f6;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, button, input, textarea {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #faf9f6;
  font-size: 18px;
}

a,
.router-link {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #9a4444;
  transition: all 0.5s;
}
button:hover {
  background-color: #d6d46d;
  color: #212427;
}

.section-separator {
  width: 100%;
  height: 40px;
  background-color: #212427;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
}

.home {
  width: 100%;
  height: auto;
}
.home .hero {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13%;
  gap: 30px;
}
.home .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.home .hero .hero-bg-image {
  width: 100%;
  position: absolute;
  top: -260px;
  left: 0;
  z-index: -2;
}
.home .hero .company-name {
  font-size: 96px;
}
.home .hero .tagline {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
}
.home .about {
  width: 100%;
  height: 800px;
  background-color: #f4dfb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home .about h2,
.home .about h3,
.home .about p {
  color: #212427;
}
.home .about .about-us-section,
.home .about .mission-statement-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .about .about-us-section .text-container,
.home .about .mission-statement-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
  line-height: 1.5;
}
.home .about .about-us-section .text-container h2,
.home .about .about-us-section .text-container h3,
.home .about .mission-statement-section .text-container h2,
.home .about .mission-statement-section .text-container h3 {
  margin-bottom: 30px;
}
.home .about .about-us-section .image-container,
.home .about .mission-statement-section .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .about .about-us-section .image-container .product-image,
.home .about .mission-statement-section .image-container .product-image {
  width: 300px;
  border-radius: 50%;
}
.home .image-display {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.home .image-display img {
  width: 100%;
  position: absolute;
  top: -700px;
}