* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a, .router-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #faf9f6;
}

h1 {
  font-size: 48px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 32px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 24px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

p, button, input, textarea {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #faf9f6;
  font-size: 18px;
}

a,
.router-link {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #9a4444;
  transition: all 0.5s;
}
button:hover {
  background-color: #d6d46d;
  color: #212427;
}

.section-separator {
  width: 100%;
  height: 40px;
  background-color: #212427;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
}

.menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.menu .heading-area {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.menu .heading-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.menu .heading-area .menu-heading-background-image {
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0;
  z-index: -2;
}
.menu .heading-area .title {
  margin-bottom: 20px;
  font-size: 56px;
}
.menu .heading-area .subtitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.menu .section-separator {
  height: 20px;
}
.menu .menu-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  padding-top: 50px;
  background-color: #f4dfb6;
}
.menu .menu-list h1,
.menu .menu-list h2,
.menu .menu-list h3,
.menu .menu-list h4,
.menu .menu-list p,
.menu .menu-list li {
  color: #212427;
}
.menu .menu-list .menu-category-container {
  padding-bottom: 50px;
}
.menu .menu-list .menu-category-container .menu-category-title {
  padding-bottom: 20px;
  font-size: 42px;
}
.menu .menu-list .menu-category-container .menu-item-list li {
  padding-bottom: 5px;
  font-size: 22px;
}