@import "../../App.scss";

// Footer Styles

.footer {
  width: 100%;
  height: 200px;
  padding: 0px 25%;
  background-color: $theme-color-maroon;

  .inner-footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      width: 135px;
    }

    .right-side-content {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nav-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          li .router-link {
            transition: all 0.3s;
            @include font-Light;

            &:hover {
              color: $theme-color-yellowgreen;
            }
          }
        }

        .socials-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          img {
            width: 30px;
          }
        }
      }
    }
  }
}
