// App.scss contains global styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

// Fonts
// Using mixins to implement fonts from Google API import

@mixin font-FancyHeading {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-Bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin font-Regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin font-Light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Menu page fonts (used for menu paper design)

@mixin font-Menu-Regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

@mixin font-Menu-Bold {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

// Variables
$theme-color-maroon: #9a4444;
$theme-color-copper: #de8f5f;
$theme-color-beige: #f4dfb6;
$theme-color-yellowgreen: #d6d46d;

$text-color-black: #212427;
$text-color-white: #faf9f6;

body {
  overflow-x: hidden;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, li, a, .router-link {
     @include font-Bold;
      color: $text-color-white;
  }

h1 {
  font-size: 48px;
  @include font-FancyHeading;
}

h2 {
  font-size: 32px;
  @include font-FancyHeading;
}

h3 {
  font-size: 24px;
  @include font-FancyHeading;
}

// prettier-ignore
p, button, input, textarea {
  @include font-Regular;
  color: $text-color-white;
    font-size: 18px;
    }

a,
.router-link {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: $theme-color-maroon;
  transition: all 0.5s;

  &:hover {
    background-color: $theme-color-yellowgreen;
    color: $text-color-black;
  }
}

.section-separator {
  width: 100%;
  height: 40px;
  background-color: $text-color-black;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
}
