// App.scss contains global styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

// Fonts
//use mixins with import in index.html for fonts

// Variables
$theme-color-maroon: #9a4444;
$theme-color-copper: #de8f5f;
$theme-color-beige: #f4dfb6;
$theme-color-yellowgreen: #d6d46d;

$text-color-black: #212427;
$text-color-white: #faf9f6;

body {
  overflow-x: hidden;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, li, a {
      font-family: "Font 1 Name";
      // color: $variable-name;
    }

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

// prettier-ignore
p, button, input, textarea {
    font-family: "Font 2 Name";
    // color: $variable-name;
    font-size: 18px;
    }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
